{% extends 'component/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="contact_section ">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center d-md-block">
                    <h2>
                        Registration
                    </h2>
                </div>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissble fade show" role="alert">
                    <strong>Message:</strong>{{message}}
                </div>
                {% endfor %}
                <form method="POST" action="{% url 'account:sign_up' %}">

                    <div class="contact_form-container">
                        {% csrf_token %}
                        {{ form.username|as_crispy_field }}
                        {{ form.first_name|as_crispy_field }}
                        {{ form.last_name|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.password1|as_crispy_field }}
                        {{ form.password2|as_crispy_field }}
                        <button type="submit">
                            send
                        </button>
                    </div>




                </form>
            </div>
            <div class="col-md-6">
                <div class="contact_img-box">
                    <img src="images/students.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
