<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="#">
                <span>
                    ADN DIGINET
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{%url 'post:post_create' %}"> Creat Post<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endif%}
                        <li class="nav-item ">
                            <a class="nav-link" href="{%url 'post:post_list' %}"> All post </a>
                        </li>
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{%url 'account:user_list' %}"> All users </a>
                        </li>
                        {% endif %}
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'account:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'account:sign_in' %}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'account:sign_up' %}">Registration</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
        </nav>
    </div>
</header>
